@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Nerko+One&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,500;1,700&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400&family=Sono&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #22343d;
  font-family: "Montserrat", sans-serif;
}

.row { /* строка */
  display: flex;
  flex-wrap: wrap;
}
[class^="col"] {
  padding: 0 10px;
}
.col-1 {
  flex: 8.3% 0 0;
}
.col-2 {
  flex: 16.6% 0 0;
}
.col-3 {
  flex: 25% 0 0;
}
.col-4 {
  flex: 33.3% 0 0;
}
.col-5 {
  flex: 41.6% 0 0;
}
.col-6 {
  flex: 50% 0 0;
}
.col-7 {
  flex: 58.3% 0 0;
}
.col-8 {
  flex: 66.6% 0 0;
}
.col-9 {
  flex: 75% 0 0;
}
.col-10 {
  flex: 83% 0 0;
}
.col-11 {
  flex: 91.6% 0 0;
}
.col-12 {
  flex: 100% 0 0;
}

.topbar {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1100px;
}

.topbar .header {
  margin-left: 20px;
  margin-right: auto;
  font-size: 30px;
  font-weight: 700;
}

.topbar .nav {
  display: flex;
  list-style: none;
}

.topbar .nav-link {
  text-decoration: none;
  color: #22343d;
  padding: 20px;
  font-size: 16px;
}

.topbar .button {
  margin: 5px;
}

.topbar .button button {
  border: 1px solid #02897a;
  border-radius: 4px;
  padding: 10px 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  background-color: #02897a;
}

.topbar .button:hover {
  background-color: #ffffff;
  color: #02897a;
}

header{
  max-width: 1080px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.row .col-6 {
  margin-top: 100px;
  max-width: 450px;
}

.col-6 h1 {
  font-size: 40px;
  font-weight: 700;
}

.col-6 p {
  margin: 0 0 70px;
  font-size: 18px;
  font-weight: 400;
}






